managed_components
build/
.DS_Store
/sdkconfig.old

# Keep Squareline GUI save files only
squareline/
!squareline/SquareLine_GUI.sll
!squareline/SquareLine_GUI.spj

# Secret credentials (wifi and MQTT)
main/include/secret_credentials.h